<!DOCTYPE html>
<html>

<head>
    <title>inicio</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <meta charset="UTF-8">
  <link href="/css/estilo.css" rel="stylesheet" type="text/css" media="print">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- ------------------------------------------   HEADER  ------------------------------------------------------------------------------------------- -->   

    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="http://localhost:3000/">Inicio</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#" >Sin responder</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Usuarios</a>
                  </li>
              </ul>

              <form class="form-inline my-4 my-lg-3">
                <input class="form-control mr-sm-4" type="search" placeholder="Buscar por titulo o cuerpo" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>

              <li class="nav-item">
                <a class="nav-link" href="#"><%= nombre%></a>
              </li>
              <form method="get" action="/desconectarse">
                <button class="btn btn-primary" type="submit">Desconectarse</button>
                </form>
            </div>
          </nav>
    </div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------- -->   
<br>    
<h1  class="text-center">Preguntas Sin responder</h1>
<br>
<br>
    <% preguntas.forEach(function(pregunta) { %>
        <div class="card"  style="width: 60rem;">
            <div class="card-body">
                <div class="pregunta">
                    <a href="http://localhost:3000/usuarios" style="text-decoration:none;color:#1f1c1c;"><%= pregunta.titulo%></a>
                    <a href="http://localhost:3000/usuarios" style="text-decoration:none;color:#1f1c1c;"><%= pregunta.autor%></a>
                    <p class="card-text"><%= pregunta.cuerpo%></p>
                    <% pregunta.tag.forEach(function(tag) { %>
                        <p class="card-text"><%= tag.tag%></p>
                    <% }); %>
                    </div>
                        <br>
                            <a class="bi bi-hand-thumbs-up " ></a>
                            <a class="bi bi-hand-thumbs-down" ><a>
                        </div>
                    
                </div>
                
               
                
            </div>
          </div>
        </div>
    <% }); %>

    
</body>

</html>