<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../public/css/estilo.css" media="print" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-Usuario</title>
    <link rel="shortcut icon" type="image/png" href="/Images/icono.png" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/vistaUser.css">
</head>
<!-- ------------------------------------------   HEADER  ------------------------------------------------------------------------------------------- -->


<%- include("header") %>



<!-- ------------------------------------------------------------------------------------------------------------------------------------- -->

<body style="background-image: url(/Images/fondo1.jpg);background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;" ;>
    <br>
    <h1 class="text-center">Información del usuario</h1>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="card" id="carta">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-5">
                            <div class="card campos">
                                <div class="row">
                                    <div class="col col-5">
                                        <img src="/imagen/<%= usuario.email%>" id="fotoPerfil" id="fotos">
                                    </div>
                                    <div class="col col-7" id="info">
                                        <h4>Información</h4>
                                        <p>Nombre: <%= usuario.nombre%></p>
                                        <p>Email: <%= usuario.email%></p>
                                        <p>Miembro desde <%= usuario.fechaAlta%></p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col col-md-7">
                            <div class="card campos">
                                    <h2 id="Est"> Estadísticas</h2>

                                <div class="row">
                                    <div class="col col-md-1"></div>
                                    <div class="col col-md-3">
                                        <div class="card estadisticas">
                                            <h4>Reputación</h4>
                                            <p><%= usuario.reputacion%></p>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <div class="card estadisticas">
                                            <h4>Preguntas</h4>
                                            <p><%= preguntas.length%></p>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <div class="card estadisticas">
                                            <h4>Respuestas</h4>
                                            <p><%= respuestas.length%></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" id="Medallas">
                            <h3 id="TituloM"> Medallas</h3>
                            <div class="row">
                                <div class="col col-md-4">
                                    <div class="card bronce">
                                        <h4 class="tituloMedalla">Bronce: <%= listaMedallas.bronce.cont%></h4>
                                    </div>
                                    <% listaMedallas.bronce.lista.forEach(function(bronce) { %>
                                        <% if(bronce.cont==1){ %>
                                            <div class="card medalla">
                                                <h5 class="tituloMedalla"><img src="/Images/bronce.png" class="iconoM">  <%= bronce.nombre%></h5>
                                            </div>
                                            <% }; %>
                                            <% if(bronce.cont>1){ %>
                                                <div class="card medalla">
                                                    <h5 class="tituloMedalla"><img src="/Images/bronce.png" class="iconoM">  <%= bronce.nombre%> x<%= bronce.cont%> </h5>
                                                </div>
                                                <% }; %>
                                        
                                        <% }); %>
                                </div>

                                <div class="col col-md-4">
                                    <div class="card plata">
                                        <h4 class="tituloMedalla">Plata: <%= listaMedallas.plata.cont%></h4>
                                    </div>
                                    <% listaMedallas.plata.lista.forEach(function(plata) { %>
                                        <% if(plata.cont==1){ %>
                                            <div class="card medalla">
                                                <h5 class="tituloMedalla"><img src="/Images/plata.png" class="iconoM">  <%= plata.nombre%></h5>
                                            </div>
                                            <% }; %>
                                            <% if(plata.cont>1){ %>
                                                <div class="card medalla">
                                                    <h5 class="tituloMedalla"><img src="/Images/plata.png" class="iconoM">  <%= plata.nombre%> x<%= plata.cont%>   </h5>
                                                </div>
                                                <% }; %>
                                        
                                        <% }); %>
                                </div>

                                <div class="col col-md-4">
                                    <div class="card oro">
                                        <h4 class="tituloMedalla">Oro: <%= listaMedallas.oro.cont%></h4>
                                    </div>
                                    <% listaMedallas.oro.lista.forEach(function(oro) { %>
                                        <% if(oro.cont==1){ %>
                                            <div class="card medalla">
                                                <h5 class="tituloMedalla"><img src="/Images/oro.png" class="iconoM">  <%= oro.nombre%></h5>
                                            </div>
                                            <% }; %>
                                            <% if(oro.cont>1){ %>
                                                <div class="card medalla">
                                                    <h5 class="tituloMedalla"><img src="/Images/oro.png" class="iconoM">  <%= oro.nombre%> x<%= oro.cont%> </h5>
                                                </div>
                                                <% }; %>
                                        
                                        <% }); %>
                                </div>
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <br><br><br>
</body>

</html>